/* RESET */
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
    scroll-behavior: smooth;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* LAYOUT */

body{
    background-color: #00242C;
}

/* TYPOGRAPHY */

h1 {
    font-family: 'Space Grotesk', serif;
    font-size: clamp(48px, 8vw, 100px); 
    color: #00D1FF;
}

h2{
    font-family: 'Space Grotesk', serif;
    font-size: clamp(30px, 5vw, 40px);
    font-weight: 700;
    color: #00D1FF;
}

h3{
    font-family: 'Space Grotesk', serif;
    color: #00D1FF;
}

h4{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: clamp(22px, 5vw, 32px);
    color: #fff;
}

h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    writing-mode: vertical-lr;
    color: #fff;
}

h6{
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    font-size: 20px;
    color: #00D1FF;
}

p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #FFF;
}

li {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #00D1FF;
}

/* HEADER */
header, .mobile-menu{
    background-color: #00242C;  
}

.mobile-menu{
    /* inset: 5; */
    background-color: #00242C;

}

.logo{
    max-width: 60px;
}

.logo:hover {
    rotate: 45deg;
    scale: 1.04;
    transition: 1.2s ease-in-out;
}

.menu-icons{
    font-size: 30px;
    color:#00D1FF;
}

.menu-hover:hover{
    color: #FFF; 
}

#landing-section {
    min-height: calc(100vh - 120px);
}

.body-container{
    max-width: 1800px;
    margin: 0 auto;
}

/* SKILLS  */
.skills-card{
    background-color: #007B95;
    padding: 1rem;
    border-radius: 12px;
}

.skills-card h3{
    color: #00242C !important;
    font-weight:700 !important; 
    margin-bottom: 0.5rem;
}

.tags{
    border-radius: 12px;
    background-color: #00242C;
    padding: 4px 10px;
    color:#FFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight:600;
    /* margin-bottom: 0.25rem; */
}

.button-one, .button-two {
    padding: 8px 32px;
    border-radius: 12px;
    font-family: "Darker Grotesque";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out; 
    cursor: pointer;
}

.button-one {
    background-color: #00D1FF;
    color: #00242C;
}

.button-two {
    background-color: #00242C;
    border: solid 2px;
    border-color: #00D1FF;
    color: #00D1FF;
}

.button-one:hover, .button-two:hover {
    transform: scale(1.05);
}
 
/* PROJECTS */
.project-mock{
    background-color: #71969D;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    overflow: hidden;
    padding: 1em;;
}

.project-mock img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}

.project-details{
    background-color: #007B95;
    min-height: 300px;
}

.project-details h3{
    color: #FFF;
}

.example-card{
    background-color: #00D1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    text-align: center;
    color: #00242C;
    width: 10rem;
    height: 8rem;
    transition: transform 0.3s ease-in-out; 
}

.example-card p{
    color: #00242C !important;
    font-weight: 600;
    line-height: 20px;
}

.example-card:hover {
    transform: scale(1.05);
}

